.App {
  margin: 30px;
}

.PageHeader {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.Article {
  border: 1px solid #ccc;
  margin: 8px 5px;
  border-radius: 10px;
  padding: 10px;
}

.ArticleTitle {
  background-color: #c8faff;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 10px 0px 10px;
  padding: 10px;
}

.ArticleUserInfo {
  font-weight: bold;
  margin: 0px 10px 10px 20px;
  padding: 10px;
}

.ArticleText {
   margin: 20px;
   padding: 10px;
}

.CommentsTitle {
  background-color: #dffcff;
  font-weight: bold;
  margin: 2px 20px;
  padding: 5px;
}

.Comment {
  margin-left: 20px; 
  padding: 2px 20px;
}

.CommentUserInfo {
  font-weight: bold;
}

